{% extends "../index.html" %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block body %}
<div class="login-page">
  <div class="login-container row">
    <h2 class="fw-bold text-center py-5">Restablecer Contraseña</h2>
    <div>
      <form method="post">
        {% csrf_token %}
        <div class="form-group mb-1">
          <label for="id_email" class="form-label">Correo Electrónico</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <br>
        <div class="form-group d-grid mb-2">
          <button type="submit" class="btn btn-primary"> Enviar </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}