{% extends "../index.html" %}

{% load static %}

{% block body %}

<h1>Registro de Usuarios</h1>

<form method="post">
    <br>
    <div>
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <!-- Botón para enviar el formulario -->
    <div class="form-group d-grid mb-2">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>

<div class="links">
    <br>
    <div class="help-block"> <!-- inicio de sesión -->
        ¿Ya tiene Cuenta? <a href="{% url 'login' %}">Iniciar Sesión</a>
    </div>
</div>

    
{% endblock %}