{% extends "index.html" %}
{% load static %}
{% block title %} LB | Crear Empleado {% endblock %}
{% block body %}
{% include 'componentes/sidenav.html' %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Crear Residente</h2>
                </div>
                <div class="card-body">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ residente_form.rut_residente.label_tag }}
                                {{ residente_form.rut_residente }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ residente_form.dvrun.label_tag }}
                                {{ residente_form.dvrun }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ user_form.first_name.label_tag }}
                                {{ user_form.first_name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ user_form.last_name.label_tag }}
                                {{ user_form.last_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ residente_form.fecha_nacimiento_residente.label_tag }}
                                {{ residente_form.fecha_nacimiento_residente }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ residente_form.fecha_contrato_residente.label_tag }}
                                {{ residente_form.fecha_contrato_residente }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ residente_form.correo_residente.label_tag }}
                                {{ residente_form.correo_residente }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ residente_form.fono_residente.label_tag }}
                                {{ residente_form.fono_residente }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ residente_form.tipo_residente.label_tag }}
                                {{ residente_form.tipo_residente }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ residente_form.comite.label_tag }}
                                {{ residente_form.comite }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ residente_form.departamento.label_tag }}
                                {{ residente_form.departamento }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ user_form.password1.label_tag }}
                                {{ user_form.password1 }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ user_form.password2.label_tag }}
                                {{ user_form.password2 }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}