{% extends "../index.html" %}
{% load static %}
{% block title %} LB | INICIO {% endblock %}
{% block body %}

<section class="hero">
    <div class="hero-content">
        <h1>¡Simplifica la gestión de tu edificio o condominio con Betterlife!</h1>
        <p>Nuestra plataforma integral te ofrece todas las herramientas que necesitas para una administración eficiente
            y transparente.</p>
        <a href="{% url 'nosotros' %}" class="btn btn-primary">Solicitar demostración</a>
    </div>
    <div class="hero-image">
        <img src="{% static 'img/carrucel/edificios.jpg'%}" alt="Edificios">
    </div>
</section>

<section class="features">
    <div class="feature">
        <img src="{% static 'img/carrucel/comunicacion.jpg'%}" alt="Reservación">
        <h2>Comunicación fluida</h2>
        <p>Mantén informados a residentes y propietarios con avisos, comunicados y un foro de discusión exclusivo.</p>
    </div>
    <div class="feature">
        <img src="{% static 'img/carrucel/finanzas.jpg'%}" alt="Endomiendas">
        <h2>Administración financiera transparente</h2>
        <p>Gestiona gastos comunes, pagos en línea, presupuestos y estados financieros de manera clara y organizada.</p>
    </div>
    <div class="feature">
        <img src="{% static 'img/carrucel/reserva.jpg'%}" alt="Comunicación">
        <h2>Gestión de reservas</h2>
        <p>Facilita la reserva de espacios comunes como quinchos, salas de eventos o estacionamientos de visitas.</p>
    </div>
</section>
<section class="features">
    <div class="feature">
        <img src="{% static 'img/carrucel/invitados.jpg'%}" alt="Edificios">
        <h2>Control de acceso y seguridad</h2>
        <p>Registra visitas, controla accesos y lleva un registro detallado de incidentes para mayor tranquilidad.</p>
    </div>
    <div class="feature">
        <img src="{% static 'img/carrucel/ReclamosySugerencias.jpg'%}" alt="Reclamos y Sugerencias">
        <h2>Reclamos y sugerencias</h2>
        <p>Facilita la comunicación entre residentes y la administración para reportar problemas o sugerir mejoras.</p>
    </div>
    <div class="feature">
        <img src="{% static 'img/carrucel/encomiendas.jpg'%}" alt="Endomiendas">
        <h2>Recepción de encomiendas</h2>
        <p>Notifica a los residentes sobre la llegada de sus paquetes y facilita su entrega de forma segura y organizada.</p>
    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <h3>¡Únete a la comunidad Betterlife y descubre cómo podemos transformar la administración de tu edificio!</h3>
        <p>Solicita una demostración gratuita y comprueba por ti mismo todas las ventajas que ofrecemos.</p>
        <a href="#" class="btn btn-primary">Solicitar demostración</a>
    </div>
</section>
{% endblock %}