{% extends "../index.html" %}
{% load static %}
{% block title %} LB | INICIO {% endblock %}
{% block body %}

<div class="container">
    <img src="{% static 'img/carrucel/kawaiefdificiouwu.png'%}" style="width:100%;">
    <div class="content">
        <h2 class="hero-h2">HERRAMIENTA PARA LA <span class="hero-destacado1">ADMINISTRACION</span><br> DE EDIFICIOS Y
            CONDOMINIOS</h2>
        <h3 class="hero-h3">Administra edificios con <span class="hero-destacado2">Betterlife</span>: la página web
            ideal<br> para tu comunidad. Administración de conserjería, comité<br> residentes, votaciones en línea y
            mucho más.</h3>
    </div>
</div>

{% endblock %}