{% extends "../index.html" %}

{% load static %}

{% block body %}

<!--seccion principal-->
<section class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">       
        <h2 class="hero-h2">HERRAMIENTA PARA LA <span class="hero-destacado1">ADMINISTRACION</span><br> DE EDIFICIOS Y CONDOMINIOS</h2>
        <h3 class="hero-h3">Administra edificios con <span class="hero-destacado2">Betterlife</span>:  la pagina web ideal<br> para tu comunidad.Administracion de conserjeria,comite<br>residentes,votaciones en línea y mucho más. </h3>
    </div>
    <div class="col-md-4">
        <img class="edificio" src="{% static '/img/bodys/edificio.png' %}" alt="imagen de edificio">
    </div>
    


    
</section>

    
{% endblock %}