{% extends "./base.html" %} <!-- Extiende la plantilla base ubicada en el mismo directorio -->
{% load static %} <!-- Carga la biblioteca de etiquetas estáticas de Django -->
{% block title %} LB | NOSOTROS {% endblock %} <!-- Define el bloque 'title' con el contenido 'PG | NOSOTROS' -->

{% block body %}
<div>
    <h1>NOSOTROS</h1> <!-- Encabezado principal de la página -->
</div>

<div>
    <div class="container">
        <!-- Contenedor principal para el contenido -->
        <div class="col-md-12 content">
            <!-- Contenedor de contenido con ancho completo -->
            <div itemprop="articleBody">
                <!-- Cuerpo del artículo -->
                <h3>MISIÓN</h3>
                <!-- Encabezado de misión -->
                <p>Proporcionar una gestión eficiente y segura de los condominios, encomiendas y visitas, asegurando la
                    comodidad y tranquilidad de los residentes y administradores del complejo.</p>
                <!-- Descripción de la misión -->
                <p>&nbsp;</p>
                <!-- Espaciado -->
                <h3>VISIÓN</h3>
                <!-- Encabezado de visión -->
                <p>Ser el líder en la administración de sistemas de condominios, ofreciendo soluciones innovadoras y de alta
                    calidad que mejoren la vida de todos los habitantes del complejo.</p>
                <!-- Descripción de la visión -->
                <p>&nbsp;</p>
                <!-- Espaciado -->
                <h3>EQUIPO</h3>
                <!-- Encabezado de equipo -->
                <p>Contamos con un equipo profesional y dedicado, compuesto por expertos en administración, tecnología y
                    servicio al cliente, comprometidos en brindar un servicio excepcional a todos los residentes y
                    administradores del complejo.</p>
                <!-- Descripción del equipo -->
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> <!-- Fila con diferentes columnas responsivas -->
        <!-- Tarjeta del miembro del equipo -->
        <div class="col">
            <div class="card shadow-sm">
                <!-- Tarjeta con sombra -->
                <img src="#" alt="Imagen del Desarrollador Backend">
                <!-- "{% static 'img/nosotros/Backend_Developer.jpg'%}" Imagen del miembro del equipo -->
                <div class="card-body">
                    <h4>Gabriela Antúnez</h4>
                    <p class="card-text">Desarrollador Backend</p>
                    <!-- Nombre del miembro del equipo -->
                    <div class="d-flex justify-content-between align-items-center">
                        <p>Responsable de diseñar y desarrollar la lógica del servidor, bases de datos y API. Asegura la
                            integridad y seguridad de los datos, implementa sistemas de autenticación y autorización, y optimiza
                            el rendimiento del servidor.</p>
                        <!-- Descripción del miembro del equipo -->
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Tarjeta del miembro del equipo -->
        <div class="col">
            <div class="card shadow-sm">
                <!-- Tarjeta con sombra -->
                <img src="#" alt="Imagen del Desarrollador Frontend">
                <!-- "{% static 'img/nosotros/Frontend_Developer.jpg'%}" Imagen del miembro del equipo -->
                <div class="card-body">
                    <h4>Carlos Herrera</h4>
                    <p class="card-text">Desarrollador Frontend</p>
                    <!-- Nombre del miembro del equipo -->
                    <div class="d-flex justify-content-between align-items-center">
                        <p>Encargado de diseñar y desarrollar la interfaz de usuario, asegurando una experiencia intuitiva y
                            eficiente. Integra el frontend con las APIs y realiza pruebas de usabilidad para optimizar el
                            rendimiento.</p>
                        <!-- Descripción del miembro del equipo -->
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Tarjeta del miembro del equipo -->
        <div class="col">
            <div class="card shadow-sm">
                <!-- Tarjeta con sombra -->
                <img src="#" alt="Imagen del Administrador de Sistemas/DevOps">
                <!-- "{% static 'img/nosotros/DevOps_Engineer.jpg'%}" Imagen del miembro del equipo -->
                <div class="card-body">
                    <h4>Raimundo Monsalve</h4>
                    <p class="card-text">Administrador de Sistemas/DevOps</p>
                    <!-- Nombre del miembro del equipo -->
                    <div class="d-flex justify-content-between align-items-center">
                        <p>Responsable de configurar y mantener la infraestructura del proyecto. Implementa pipelines de CI/CD,
                            gestiona el monitoreo y la escalabilidad del sistema, y asegura la disponibilidad y la seguridad del
                            sistema.</p>
                        <!-- Descripción del miembro del equipo -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} <!-- Cierra el bloque 'body' -->