{% extends "index.html" %}
{% load static %}
{% block title %} LB | EC {% endblock %}
{% block body %}
{% include 'componentes/sidenav.html' %}

<div class="container mt-4">
  <div class="row justify-content-center">

    {% for espacio in espacios %}
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center">{{ espacio.nombre_ec }}</h2>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<div class="modal fade" id="reservarModal" tabindex="-1" aria-labelledby="reservarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reservarModalLabel">Nueva Reserva</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="reservacionForm" method="post">
          {% csrf_token %}
          <input type="hidden" id="espacioId" name="espacio_id">

          <div class="mb-3">
            <label for="inicio" class="form-label">Fecha y hora de inicio:</label>
            <input type="datetime-local" class="form-control" id="inicio" name="inicio">
          </div>
          <div class="mb-3">
            <label for="fin" class="form-label">Fecha y hora de fin:</label>
            <input type="datetime-local" class="form-control" id="fin" name="fin">
          </div>
          <div class="mb-3">
            <label for="cantidad_personas" class="form-label">Cantidad de personas:</label>
            <input type="number" class="form-control" id="cantidad_personas" name="cantidad_personas">
          </div>
          <button type="submit" class="btn btn-primary">Reservar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}