{% extends "../index.html" %}
{% load static %}

{% block title %} LB | Avisos {% endblock %}

{% block body %}
  {% include 'componentes/sidenav.html' %}
  <div class="container mt-5">
    <h2 class="text-center">Anuncios</h2>
    <div class="list-group">
      {% for anuncio in anuncios %}
      <div class="list-group-item">
        <h5 class="mb-1">{{ anuncio.asunto }}</h5>
        <p class="mb-1">{{ anuncio.contenido_asunto }}</p>
        <small>Publicado el: {{ anuncio.fecha_hora_asunto }}</small>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}