{% extends "residente.html" %}
{% load static %}
{% block title %} LB | EC {% endblock %}
{% block body %}


<h1>Calendario de Reservas</h1>
<div id="calendar"></div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        {% for r in espacio %}
                {
        title: '{{ reserva.espacio.nombre }} - {{ reserva.usuario.username }}',
        start: '{{ reserva.fecha }}T{{ reserva.hora_inicio }}',
        end: '{{ reserva.fecha }}T{{ reserva.hora_fin }}',
        color: '{{ reserva.color }}' // puedes definir una lógica para colores aquí
      },
      {% endfor %}
            ]
        });

  calendar.render();
    });
</script>
<a href="{% url 'crear_reserva' %}">Crear nueva reserva</a>

{% endblock %}