{% extends "../index.html" %}
{% load static %}
{% block title %} LB | PERFIL {% endblock %}
{% block body %}
{% include 'componentes/sidenav.html' %}
<h2>Perfil</h2>

<div class="resident-info">
  <p><strong>RUT:</strong> {{ residente.rut_residente }}-{{ residente.dvrun }}</p>
  <p><strong>Nombre Completo:</strong> {{ residente.pnombre_residente }} {{ residente.snombre_residente }}
    {{residente.appaterno_residente }} {{ residente.apmaterno_residente }}</p>
  <p><strong>Fecha de Nacimiento:</strong> {{ residente.fecha_nacimiento_residente }}</p>
  <p><strong>Fecha de Contrato:</strong> {{ residente.fecha_contrato_residente }}</p>
  <p><strong>Correo:</strong> {{ residente.correo_residente }}</p>
  <p><strong>Teléfono:</strong> {{ residente.fono_residente }}</p>
  <p><strong>Depto:</strong> {{ perfil.numero_depto }}</p>
  <p><strong>Piso:</strong> {{ perfil.piso }}</p>
  <p><strong>Tipo de Residente:</strong> {{ residente.tipo_residente }}</p>
  <p><strong>Comité:</strong> {{ residente.comite | yesno }}</p>
</div>

{% endblock %}