


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="bi bi-x"></i></a>
    <a href="{% url 'visitas' %}">Visitas</a>
    <a href="{% url 'encomienda' %}">Encomienda</a>
    <a href="{% url 'multa' %}">Multas</a>
    <a href="{% url 'reclamos' %}">Reclamos</a>
    <a href="{% url 'bitacora' %}">Bitácoras</a>
  </div>
    <a  id="openbtn"  href="javascript:void(0)" class="openbtn" onclick="openNav()"><i class="bi bi-arrow-bar-right"></i></a>

  