<div class="sidenav" id="mySidenav" >
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="bi bi-x"></i></a>
    {% comment %} Botones para conserje {% endcomment %}
    {% if user.role == 'conserje' %}
    <a href="{% url 'visitas' %}">Visitas</a>
    <a href="{% url 'encomienda' %}">Encomienda</a>
    <a href="{% url 'multa' %}">Multas</a>
    <a href="{% url 'reclamos' %}">Reclamos</a>
    <a href="{% url 'bitacora' %}">Bitácoras</a>
    {% endif %}
    {% comment %} Botones para residente {% endcomment %}
    {% if user.role == 'residente'%}
    <a href="{% url 'encomienda' %}">Encomienda</a>
    <a href="{% url 'avisos' %}">Avisos</a>
    <a href="{% url 'perfil' %}">Perfil</a>
    <a href="{% url 'resumen' %}">Resumen</a>
    <a href="{% url 'visitas' %}">Visitas</a>
    {% endif %}
    {% comment %} Botones para Administrador {% endcomment %}
    {% if user.role == 'adminedificio'%}
    <a href="{% url 'adminedificio' %}">Inicio</a>
    <a href="{% url 'crearusuario' %}">Crear Usuario</a>
    <a href="{% url 'creardepartamento' %}">Habilitar Departamento</a>
    <a href="{% url 'multas' %}">Multas</a>
    {% endif %}
  </div>
    <a  id="openbtn"  href="javascript:void(0)" class="openbtn" onclick="openNav()"><i class="bi bi-arrow-bar-right"></i></a>

  