<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
  aria-controls="offcanvasWithBothOptions">
  <i class="bi bi-arrow-bar-right"></i>
</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    {% if user.role == 'conserje' %}
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menú Conserje</h5>
    {% endif %}
    {% if user.role == 'residente' %}
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menú Conserje</h5>
    {% endif %}
    {% if user.role == 'adminedificio' %}
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menú Conserje</h5>
    {% endif %}
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      {% if user.role == 'conserje' %}
      <li class="nav-item"><a href="{% url 'visita_conserje' %}" class="nav-link">Nuevas Visitas</a></li>
      <li class="nav-item"><a href="{% url 'encomienda' %}" class="nav-link">Encomienda</a></li>
      <li class="nav-item"><a href="{% url 'multa' %}" class="nav-link">Multas</a></li>
      <li class="nav-item"><a href="{% url 'reclamos' %}" class="nav-link">Reclamos</a></li>
      <li class="nav-item"><a href="{% url 'bitacora' %}" class="nav-link">Bitácoras</a></li>
      <li class="nav-item"><a href="{% url 'registro_visitante_depto' %}" class="nav-link">Agregar Visita</a></li>
      {% endif %}

      {% if user.role == 'residente'%}
      <li class="nav-item"><a href="{% url 'resumen' %}" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="{% url 'perfil' %}" class="nav-link">Perfil</a></li>
      <li class="nav-item"><a href="{% url 'editar_perfil' %}" class="nav-link">Editar Perfil</a></li>
      <li class="nav-item"><a href="{% url 'avisos' %}" class="nav-link">Avisos</a></li>
      <li class="nav-item"><a href="{% url 'encomienda' %}" class="nav-link">Encomienda</a></li>
      <li class="nav-item"><a href="{% url 'espaciocomun' %}" class="nav-link">Espacio Común</a></li>
      <li class="nav-item"><a href="{% url 'listar_reservaciones' %}" class="nav-link">Historial</a></li>
      <li class="nav-item"><a href="{% url 'crear_reservacion' %}" class="nav-link">Reservar</a></li>
      <li class="nav-item"><a href="{% url 'gcomunes' %}" class="nav-link">Gasto Común</a></li>
      <li class="nav-item"><a href="{% url 'multasrev' %}" class="nav-link">Multas</a></li>
      <li class="nav-item"><a href="{% url 'reclamos' %}" class="nav-link">Reclamos y Sugerencias</a></li>
      <li class="nav-item"><a href="{% url 'visita_residente' %}" class="nav-link">Visitas</a></li>
      {% endif %}

      {% if user.role == 'adminedificio'%}
      <li class="nav-item"><a href="{% url 'adminedificio' %}" class="nav-link">Inicio</a></li>
      <li class="nav-item"><a href="{% url 'crearusuario' %}" class="nav-link">Crear Usuario</a></li>
      <li class="nav-item"><a href="{% url 'crear_residente' %}" class="nav-link">Crear Residente</a></li>
      <li class="nav-item"><a href="{% url 'creardepartamento' %}" class="nav-link">Habilitar Departamento</a></li>
      <li class="nav-item"><a href="{% url 'multasadmin' %}" class="nav-link">Multas</a></li>
      {% endif %}
    </ul>
  </div>
</div>