/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Barra de navegación (navbar) */
.navbar {
    background-color: var(--background-color);
    display: flex; /* Enable flexbox layout */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Align content vertically (optional) */
    margin-left: 0 !important;
}

.navbar .button {
    border: solid 4px var(--primary-color);
}

.navbar .navbar-expand-lg {
    margin-left: 0 !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px; /* Espacio entre las imágenes */
}

.navbar a {
    color: var(--primary-color);
    font-size: 100%;
    margin-right: 20px;
}

.navbar a:hover {
    color: var(--primary-color);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-height: 250px; /* Altura máxima del menú colapsado */
    overflow-y: auto;  /* Mostrar barra de desplazamiento si el contenido excede la altura */
}

/* Botón de búsqueda en la barra de navegación */
.btn-search {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: solid 1px var(--background-color);
    width: auto;
}

.btn-search:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: solid 1px var(--text-color);
}

/* Offcanvas */
.offcanvas {
    width: 50%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.offcanvas-header {
    background-color: var(--primary-color); /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
}

.offcanvas-title {
    font-weight: bold;
}

.offcanvas-body .navbar-nav {
    padding: 1rem 0; /* Espaciado interno */
}

.offcanvas-body .nav-link {
    color: var(--text-color); /* Color de los enlaces */
}

.offcanvas-body .nav-link:hover {
    background-color: var(--primary-color); /* Color de fondo al pasar el mouse */
    color: var(--background-color); /* Color del texto al pasar el mouse */
}

/* Estilos para menús desplegables en el sidebar */
.offcanvas-body .dropdown-toggle {
    cursor: pointer;
}

.offcanvas-body .dropdown-menu {
    background-color: var(--background-color); /* Color de fondo del menú desplegable */
    border: none; /* Sin borde */
    box-shadow: none; /* Sin sombra */
}

.offcanvas-body .dropdown-item {
    color: var(--text-color); /* Color del texto */
    padding: 0.5rem 1rem; /* Espaciado interno */
}

.offcanvas-body .dropdown-item:hover {
    background-color: var(--primary-color); /* Color de fondo al pasar el mouse */
    color: var(--background-color); /* Color del texto al pasar el mouse */
}

/* Botón para abrir el offcanvas */
.btn-primary[data-bs-toggle="offcanvas"] {
    width: 40px;
    position: fixed;
    top: 70px;
    left: -15px;
    z-index: 1030;
    height: 40px;
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {

    vertical-align: 0;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .offcanvas {
        width: 75%; /* Ajustar el ancho del offcanvas en pantallas pequeñas */
    }
}

