:root {
    --primary-color: #009797;
    --body-color: #121212;
    --sidebar-color: #1e1e1e;
    --text-color: #e0e0e0;
}
/* Estilo para la sección de perfil */
.profile-section {
    padding: 20px;
    background-color: var(--sidebar-color); /* Fondo similar al sidebar para coherencia */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar la sección */
}

.profile-section h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
}

.profile-section p {
    margin-bottom: 8px;
}

/* Estilos para tablas (si decides usarlas para mostrar datos) */
.profile-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.profile-section th,
.profile-section td {
    padding: 8px;
    border-bottom: 1px solid var(--text-color);
    text-align: left;
}
