:root {
  --color-navigate: #009797; /* Verde turquesa */
  --color-fondo: #121212; /* Negro suave */
  --color-secundario: #1e1e1e; /* Gris oscuro */
  --color-terciario: #505050;
  --color-texto: #e0e0e0; /* Gris claro */
}


/* Reinicio de estilos predeterminados del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos base */
body {
  color: var(--color-texto);
  background-color: var(--color-secundario);
}

/* Diseño del contenedor principal de la cuadrícula */
.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'header navegacion'
    'cuerpo cuerpo'
    'footer footer';
  grid-template-rows: 70px auto 70px;
  min-height: 100vh;
  padding: 0;
}

/* Estilos de las áreas de la cuadrícula */
.grid-header {
  grid-area: header;
  background-color: var(--color-fondo);
  grid-gap: 20px;
  padding: 10px 20px 14px 20px;
  width: 250px;
}

.grid-navigate {
  grid-area: navegacion;
  background-color: var(--color-secundario);
  margin-left: 20px; 
}

.grid-body {
  grid-area: cuerpo;
  background-color: var(--color-secundario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.grid-footer {
  grid-area: footer;
  background-color: var(--color-secundario);
  color: darkgrey;
  text-align: center;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: var(--color-fondo);
  padding: 10px 20px 14px 20px;
}

.navbar a{
  color: var(--color-navigate);
  font-size: 110%;
  margin-right: 20px; 
}

.navbar a :hover{
  color: var(--color-texto);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  width: auto;
  /*border-radius:10px;*/
}

.btn-search {
  background-color: var(--color-secundario);
  color: var(--color-texto);
  border: solid 1px var(--color-navigate);
  width: auto;
}

.btn-search:hover{
  background-color: var(--color-fondo);
  color: var(--color-navigate);
  border: solid 1px var(--color-texto);
  width: auto;
}

/* Estilos del carrusel */
.carousel-inner {
  max-height: 450px;
}

.btn-outline-custom {
  color: var(--color-navigate);
  background-color: transparent;
  border: 1px solid var(--color-navigate);
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Estilos personalizados de botones */
.btn-outline-custom:hover{
  color:var(--color-texto);
  background-color: var(--color-secundario);
  border-color: var(--color-navigate);
}

/* Estilos de la sección hero */
.hero-h2 {
  color: var(--color-texto);
  font-size: 2em;
}

.hero-h3 {
  color: var(--color-navigate);
  font-size: 1.5em;
}

.hero-destacado1 {
  color: var(--color-navigate);
}

.hero-destacado2 {
  color: var(--color-navigate);
}

.edificio {
  opacity: 40%;
  max-height: 300px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .hero-h2 {
    font-size: 1.5em;
  }
  .hero-h3 {
    font-size: 1.2em;
  }
  .grid-body {
    padding: 10px;
  }
}


/* Estilos de la página de login */
.login-page {
  background: linear-gradient(135deg, var(--color-secundario) 0%, var(--color-navigate)100%);
  height: 100vh;
  display: flex;
  justify-content:center;
  /* align-items:baseline; */
  margin: 0;
  border-radius: 10px;
  padding: 20px 200px;
  width: 120%;
  align-items: center;
}

.login-container {
  background: var(--color-secundario);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 50%;
}

h2 {
  color: var(--color-texto);
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  color: var(--color-navigate);
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.btn-primary {
  background-color: var(--color-navigate);
  border-color: var(--color-navigate);
}

.btn-primary:hover {
  background-color:  var(--color-texto);
  border-color: var(--color-navigate)
}

.form-check-label {
  color: var(--color-terciario);
}

.help-block a {
  color: var(--color-navigate);
}

.help-block a:hover {
  color: var(--color-navigate)
}

/* Estilos del pie de página */
.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--color-secundario);
  color: darkgrey;
  width: 100%;
}

/* Estilos de la página Nosotros ***********************************************************/

.container form{
  border-radius: 20px;
  border: solid 2px var(--color-navigate);
  padding:20px;
}

.container form legend {
  font: size 70px;
  color: var(--color-texto);
}

.btn-enviar {
  background-color: var(--color-secundario);
  color: var(--color-texto);
  border: solid 2px var(--color-navigate);
  width: auto;
}

.btn-enviar:hover{
  background-color: var(--color-navigate);
  color: var(--color-fondo);
  border: solid 1px var(--color-navigate);
  width: auto;
  border-radius: 10px;
}

.nosotros-page {
  background-color: var(--color-secundario);
  padding: 20px;
  color: var(--color-texto);
}

.nosotros-page h1 {
  color: var(--color-navigate);
  text-align: center;
  margin-bottom: 20px;
}

.nosotros-page h3 {
  color: var(--color-navigate);
  margin-top: 20px;
}

.nosotros-page p {
  color: var(--color-texto);
  margin-bottom: 20px;
}

.nosotros-page .card {
  background-color:var(--color-texto);
  color: var(--color-secundario);
}

.nosotros-page .card img {
  border-radius: 10px 10px 0 0;
}

.nosotros-page .card h4 {
  color: var(--color-navigate);
}

.nosotros-page .card .card-text {
  margin-bottom: 10px;
  font-weight: bold;
}

.nosotros-page .card-body p {
  color: var(--color-secundario);
}

.nosotros-page .row-cols-1 .col, 
.nosotros-page .row-cols-sm-2 .col, 
.nosotros-page .row-cols-md-3 .col {
  margin-bottom:80px;
}

.nosotros-page .container-fluid {
  padding: 0 20px;
}

.nosotros-page .content {
  padding: 20px;
  background-color: var(--color-terciario);
  border-radius: 10px;
}

.content .texto{
  background-color: var(--color-navigate);
}

/* Estilos de la sección de pago */
.pago {
  padding: 2rem;
}

.pago select {
  width: 50%;
  padding: 1rem;
  margin: 1rem 0;
}

/* Estilos de la página Residente */
.residente-page h1 {
  color: var(--color-navigate);
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos de la barra lateral de navegación */
.sidenav {
  /* position: fixed;
  grid-area: sidenav;
  background-color: var(--color-fondo);
  overflow-x:hidden;
  padding-top: 20px;
  transition: 0.5s;
  top: 70px;
  left: 0;
  height: 100%;
  width: 200px;
  transition: 0.5s ease-in-out;
  flex: 1;
  bottom: 0;
  border-top-right-radius: 20px;
  z-index: 1000;  */
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-fondo);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--color-text);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--color-navigate)
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: var(--color-texto);
}

#grid-container {
  transition: margin-left .5s;
  padding: 16px;
}

.openbtn {
  /* color: var(--color-texto);
  margin-right: 8px;
  padding: 0 !important;
  position: absolute;
  top: 85px;
  left: 10px;
  opacity: 0;
  transition: 0.5s linear; */
  color: var(--color-texto);
  margin-right: 8px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 85px;
  left: 10px;
  z-index: 2;
  background: none;
  border: none;
  padding: 0 !important;
}

.openbtn:hover {
  color: var(--color-navigate);
}

/* Ajustes responsivos para la barra lateral de navegación */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/**************************************************************************/
/*Estilos*/

.table table-striped{
  background-color: var(--color-terciario);
  color: var(--color-texto);

}