{% extends "../index.html" %}
{% load static %}
{% block title %} LB | VISITAS {% endblock %}
{% block body %}
{% include 'componentes/sidenav.html' %} 

<h1>Listado de visitas activas</h1>
<p>Usuario Activo: {{ user.username }}</p>

{% if messages %}
    <div>
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form1.as_p }}
    <button type="submit" class="btn-primary">Guardar</button>
</form>

<h1>Visitas Activas</h1>

<table class="my-4 w-100">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Patente</th>
      <th>Departamento</th>
      <th>Hora de Ingreso</th>
      <th>Salida</th>
    </tr>
  </thead>
  <tbody>
    {% for visita in visitas %}
    <tr>
      <td>{{ visita.rut_visitante.rut_visitante }}-{{visita.rut_visitante.dv_visitante}} </td>
      <td>{{ visita.rut_visitante.nombres_visitante }}</td>
      <td>{{ visita.rut_visitante.apellido_visitante }}</td>
      <td>{{ visita.rut_visitante.patente }}</td>
      <td>{{ visita.rut_visitante.departamento }}</td>
      <td>{{ visita.fecha_hora_ingreso }}</td>
      <td>
        <a href="{% url 'salida_visita' id=visita.id_visitante_depto %}">Marcar Salida</a> 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}