{% extends "../index.html" %} {% load static %} {% block title %} LB | VISITAS {% endblock %} {% block body %} {% include 'componentes/sidenav.html'%}


<h1>Listado de Visitantes</h1>

<button onclick="location.href='{% url 'nueva_visita' %}'">Nuevo Visitante</button>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Patente</th>
      <th>Departamento</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for visita in visitas %}
    <tr>
      <td>{{ visita.rut_visitante }}-{{visita.dv_visitante}} </td>
      <td>{{ visita.nombres_visitante }}</td>
      <td>{{ visita.apellido_visitante }}</td>
      <td>{{ visita.patente }}</td>
      <td>{{ visita.departamento }}</td>
      <td>
        <a href="{% url 'editar_visita' id=visita.id %}">Editar</a>
        <a href="{% url 'eliminar_visita' id=visita.id %}">Eliminar</a> 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
