{% extends "../base.html" %} <!-- Extiende la plantilla base ubicada en el directorio superior -->
{% block title %} Editar|REG {% endblock %} <!-- Define el bloque 'title' con el contenido 'Editar|REG' -->
{% block body %}

<div class="col-sm-12"> <!-- Contenedor de ancho completo para el formulario y los mensajes -->
    {% if messages %}
        <!-- Si hay mensajes, recorre cada uno y muestra una alerta -->
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success"> <!-- Alerta de éxito que se puede cerrar -->
            <button type="button" class="close" data-dismiss="alert">&times;</button> <!-- Botón para cerrar la alerta -->
            <strong class="text-dark">{{ message }}</strong> <!-- Muestra el contenido del mensaje en texto oscuro -->
        </div>
        {% endfor %}
    {% endif %}

    <h1>Editar Registro</h1> <!-- Título de la página -->
    <div class="container form"> <!-- Contenedor para el formulario -->
        {% include 'alumnos/gestion/form.html' %} <!-- Incluye el formulario desde 'alumnos/gestion/form.html' -->
    </div>
</div>

{% endblock %} <!-- Cierra el bloque 'body' -->
