{% extends "index.html" %}
{% load static %}
{% block title %} LB | Perfil {% endblock %}
{% block body %}
{% include 'componentes/sidenav.html' %}

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body profile-section">
          <h2 class="card-title">Mi Perfil</h2>
          {% if user.role == 'residente' %}
          {% with residente=usuario.reservaciones.first.run_residente %}
          <p><strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</p>
          <p><strong>RUT:</strong> {{ residente.rut_residente }}-{{ residente.dvrun }}</p>
          <p><strong>Departamento:</strong> {{ residente.departamento }}</p>
          <p><strong>Correo electrónico:</strong> {{ usuario.email }}</p>
          <p><strong>Teléfono:</strong> {{ residente.fono_residente }}</p>
          {% endwith %}
          {% endif %}

          <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}