{% extends "index.html" %}
{% load static %}

{% block title %} LB | Perfil {% endblock %}

{% block body %}
{% include 'componentes/sidenav.html' %}

<div class="profile-section">
  <h2>Mi Perfil</h2>
  <p>Nombre de usuario: {{ usuario.username }}</p>
  <p>Nombre: {{ usuario.first_name }}</p>
  <p>Apellido: {{ usuario.last_name }}</p>
  <p>Correo electrónico: {{ usuario.email }}</p>
  <p>Rol: {{ usuario.role }}</p>

  {% if usuario.role == 'residente' %}
  {% with residente=usuario.reservaciones.first.run_residente %}
  <p>RUT: {{ residente.rut_residente }}-{{ residente.dvrun }}</p>
  <p>Departamento: {{ residente.departamento }}</p>
  {% endwith %}
  {% endif %}
</div>
<a href="{% url 'editar_perfil' %}" class="btn btn-secondary">Editar Perfil</a>

{% endblock %}